<nav class="navbar">
    <div>
        <a href="/"><h1>My Blog</h1></a>
        <p>Aspiring to create great things!</p>        
    </div>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/">Blogs</a></li>
        <li><a href="/blogs/create">Create Blog</a></li>
    </ul>
</nav>